.heeeeed {
    width: 250px;
    height: 100%;
    align-items: center;
}
.heeeeed {
    padding-left: 47px;
    padding-top: 33px;
    padding-right: 20px;
}
.munnyuny {
    display: flex;
    height: 100px;
    border: 1px solid rgb(233, 223, 223);
}
.cdtrxre {
    margin-left: 47px;
    margin-right: 20px;
}
.clkkijij {
    width: 1350px;
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.cl1 {
    display: flex;
    justify-content: space-between;
    width: 130px;
    margin-top: 60px;
    align-items: center;
}
.cl {
    display: flex;
    justify-content: space-between;
    width: 130px;
    margin-top: 40px;
    align-items: center;
}
.rr2 {
    font-size: 18px;
    color: #B1B1B1;
}
.rr22 {
    font-size: 18px;
    color: #1814F3;
}
.rexe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 33px;
    padding-left: 40px;
    width: 1110px;
}
.exe {
    display: flex;
    justify-content: space-between;
    width: 255px;
    height: 50px;
    align-items: center;
    background-color: #F5F7FA;
    border-radius: 40px;
    padding-left: 25px;
    padding-right: 40px;
    margin-right: -100px;
}

.vffv {
    color: #343C6A;
    font-size: 28px;
}
.immmeg {
    display: flex;
    justify-content: space-between;
    width: 250px;
    align-items: center;
    padding-top: 33px;
    margin-right: -180px;
}
.wrx5re {
    width: 50px;
    height: 50px;
}
.wdsfchwde {
    font-size: 22px;
    color: #333B69;
    padding-left: 40px;
    padding-top: 24px;
    font-weight: 600;
}
.cllcllc {
    margin-left: 250px;
    height: 1500px;
    background-color: rgb(248, 244, 244);
}
.biiii {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.cll1 {
    width: 350px;
    height: 225px;
    border-radius: 25px;
    background: linear-gradient(to right, #0A06F4, #539BFF);
}
.ergterg1 {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 25px;
}
.nnnhtyh1 {
    color: white;
    font-size: 12px;
}
.nnnhtyh1 p {
    color: white;
    font-size: 20px;
    margin: 0;
}
.nnnhtyh2 {
    color: #FFFFFFB2;
    font-size: 12px;
    width: 100px;
}
.nnnhtyh2 p {
    color: white;
    font-size: 15px;
    margin: 0;
}
.cdvgdvcf2 {
    font-size: 12px;
    color: #FFFFFFB2;
}
.cdvgdvcf2 p {
    font-size: 15px;
    color: white;
    margin: 0;
}
.nnnhtyh3 {
    font-size: 22px;
    color: white;
    width: 200px;
    padding-top: 0px;
}
.nnnhtyh3 {
 padding-top: 20px;
}
.cdvgdvcf3 {
 padding-top: 20px;
}
.cll2 {
    width: 350px;
    height: 225px;
    border-radius: 25px;
    background: linear-gradient(to right, #4C49ED, #0A06F4);
}
.cll3 {
    width: 350px;
    height: 225px;
    border-radius: 25px;
    background-color: rgb(248, 244, 244);
    border: 1px solid rgb(221, 215, 215);
}
.nnnhtyh22 {
    font-size: 12px;
    color: #718EBF;
    width: 300px;
    padding-top: 0px;
    justify-content: space-between;
}
.nnnhtyh22 p {
    font-size: 15px;
    color: #343C6A;
    margin: 0;
}
.cdvgdvcf22 {
    font-size: 12px;
    color: #718EBF;
    width: 78px;
    padding-top: 0px;
}
.cdvgdvcf22 p {
    font-size: 15px;
    color: #343C6A;
    width: 200px;
    padding-top: 0px;
    margin: 0;
}
.nnnhtyh33 {
    font-size: 22px;
    color: #343C6A;
    padding-top: 20px;
}