.heeeeed {
    width: 250px;
    height: 100%;
    align-items: center;
}
.heeeeed {
    padding-left: 47px;
    padding-top: 33px;
    padding-right: 20px;
}
.munnyuny {
    display: flex;
    height: 100px;
    border: 1px solid rgb(233, 223, 223);
}
.cdtrxre {
    margin-left: 47px;
    margin-right: 20px;
}
.clkkijij {
    width: 1350px;
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.cl1 {
    display: flex;
    justify-content: space-between;
    width: 130px;
    margin-top: 60px;
    align-items: center;
}
.cl {
    display: flex;
    justify-content: space-between;
    width: 130px;
    margin-top: 40px;
    align-items: center;
}
.rr2 {
    font-size: 18px;
    color: #B1B1B1;
}
.rr22 {
    font-size: 18px;
    color: #1814F3;
}
.rexe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 33px;
    padding-left: 40px;
    width: 1110px;
}
.exe {
    display: flex;
    justify-content: space-between;
    width: 255px;
    height: 50px;
    align-items: center;
    background-color: #F5F7FA;
    border-radius: 40px;
    padding-left: 25px;
    padding-right: 40px;
    margin-right: -100px;
}

.vffv {
    color: #343C6A;
    font-size: 28px;
}
.immmeg {
    display: flex;
    justify-content: space-between;
    width: 250px;
    align-items: center;
    padding-top: 33px;
    margin-right: -180px;
}
.wrx5re {
    width: 50px;
    height: 50px;
}
.wdsfchwde {
    font-size: 22px;
    color: #333B69;
    padding-left: 40px;
    padding-top: 24px;
    font-weight: 600;
}
.cllcllc {
    margin-left: 250px;
    height: 1500px;
    background-color: rgb(248, 244, 244);
}
.biiii {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.cll1 {
    width: 350px;
    height: 225px;
    border-radius: 25px;
    background: linear-gradient(to right, #0A06F4, #539BFF);
}
.ergterg1 {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 25px;
}
.nnnhtyh1 {
    color: white;
    font-size: 12px;
}
.nnnhtyh1 p {
    color: white;
    font-size: 20px;
    margin: 0;
}
.nnnhtyh2 {
    color: #FFFFFFB2;
    font-size: 12px;
    width: 100px;
}
.nnnhtyh2 p {
    color: white;
    font-size: 15px;
    margin: 0;
}
.cdvgdvcf2 {
    font-size: 12px;
    color: #FFFFFFB2;
}
.cdvgdvcf2 p {
    font-size: 15px;
    color: white;
    margin: 0;
}
.nnnhtyh3 {
    font-size: 22px;
    color: white;
    width: 200px;
    padding-top: 0px;
}
.nnnhtyh3 {
 padding-top: 20px;
}
.cdvgdvcf3 {
 padding-top: 20px;
}
.cll2 {
    width: 350px;
    height: 225px;
    border-radius: 25px;
    background: linear-gradient(to right, #4C49ED, #0A06F4);
}
.cll3 {
    width: 350px;
    height: 225px;
    border-radius: 25px;
    background-color: rgb(248, 244, 244);
    border: 1px solid rgb(221, 215, 215);
}
.nnnhtyh22 {
    font-size: 12px;
    color: #718EBF;
    width: 300px;
    padding-top: 0px;
    justify-content: space-between;
}
.nnnhtyh22 p {
    font-size: 15px;
    color: #343C6A;
    margin: 0;
}
.cdvgdvcf22 {
    font-size: 12px;
    color: #718EBF;
    width: 78px;
    padding-top: 0px;
}
.cdvgdvcf22 p {
    font-size: 15px;
    color: #343C6A;
    width: 70px;
    padding-top: 0px;
    margin: 0;
}
.nnnhtyh33 {
    font-size: 22px;
    color: #343C6A;
    padding-top: 20px;
}
.blok100 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card1 {
    display: flex;
    justify-content: space-between;
}
.text {
    color: #333B69;
    font-size: 22px;
    margin-top: 24px;
    margin-left: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}
.text2 {
    color: #333B69;
    font-size: 22px;
    margin-top: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}
.blok1 img {
    margin-left: 40px;
}
.card1 img {
    width: 26px;
    height: 18px;
    padding-left: 17px;
    padding-top: 21px;
}
.card2 img {
    width: 26px;
    height: 26px;
    padding-left: 17px;
    padding-top: 21px;
}
.card3 img {
    width: 26px;
    height: 26px;
    padding-left: 17px;
    padding-top: 21px;
}
.fadedwsfv1 {
    width: 60px;
    height: 60px;
    background-color: #b3bee6;
    border-radius: 20px;
    margin-left: 15px;
}
.fadedwsfv2 {
    width: 60px;
    height: 60px;
    background-color: #FFE0EB;
    border-radius: 20px;
    margin-left: 15px;
}
.fadedwsfv3 {
    width: 60px;
    height: 60px;
    background-color: #FFF5D9;
    border-radius: 20px;
    margin-left: 15px;
}
.cl24223 {
    margin: 0;
    flex-direction: column;
}
.card1 {
    width: 730px;
    height: 90px;
    background-color: white;
    border-radius: 20px;
    align-items: center;
    margin-bottom: 20px;
}
.card2 {
    width: 730px;
    height: 90px;
    background-color: white;
    border-radius: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.card3 {
    display: flex;
    width: 730px;
    height: 90px;
    background-color: white;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
}
.blok2 {
    margin-right: 40px;
}
.cl11 {
    align-items: center;
    color: #1814F3;
    font-size: 15px;
    margin-right: 20px;
}
.cl24223 {
    color: #232323;
    font-size: 16px;
    font-weight: 500;
}
.cl24223 h1 {
    color: #718EBF;
    font-size: 15px;
    font-weight: 500;
}
.cl24223 h2 {
    color: #232323;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}
.blok1000000 {
    display: flex;
    justify-content: space-between;
}
.text111 {
    font-size: 22px;
    color: #333B69;
    font-weight: 600;
    margin-top: 24px;
    margin-left: 40px;
    margin-bottom: 20px;
}
.textdevr {
    font-size: 22px;
    color: #333B69;
    font-weight: 600;
    margin-top: 24px;
    margin-left: 0px;
    margin-bottom: 20px;
}
.fdxedre11 p {
    font-size: 22px;
    color: #333B69;
    font-weight: 600;
}
.rexdr {
    padding-top: 13px;
}
.carttt1 {
    width: 730px;
    height: 440px;
    border-radius: 25px;
    background-color: white;
    margin-left: 40px;
}
.carttt1 p {
    color: #718EBF;
    font-size: 16px;
    width: 633px;
    margin: 0 auto;
    padding-top: 27px;
}
.f2 {
    display: flex;
    flex-direction: column;
}
.inpppu {
    width: 310px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid #DFEAF2;
    margin-left: 20px;
}
.f2 p {
    width: 320px;
    font-size: 16px;
    color: #232323;
    margin-bottom: 10px; 
    margin-left: 20px;
}
.fff {
    width: 320px;
}
.ddd {
    display: flex;
    justify-content: space-between;
    width: 700px;
}
.fff2 {
    width: 320px;
}
.buuutonnnn {
    width: 160px;
    height: 60px;
    border-radius: 9px;
    background-color: #1814F3;
    border: none;
    margin-top: 30px;
    margin-left: 20px;
}
.buuutonnnn p {
    width: 80px;
    font-size: 18px;
    color: white;
    margin-top: -21px;
}
.fdxedre11 {
    width: 350px;
    height: 440px;
    background-color: white;
    border-radius: 25px;
    margin-right: 40px;
}
.m {
    display: flex;
    justify-content: space-between;
    width: 255px;
    height: 60px;
    align-items: center;
    margin-left: 30px;
    margin-top: 20px;
}
.d h1 {
    font-size: 16px;
    color: #232323;
    font-weight: 400;
}
.d h2 {
    font-size: 15px;
    color: #718EBF;
    font-weight: 400;
}
.u1 {
    width: 60px;
    height: 60px;
    background-color: #FFF5D9;
    border-radius: 20px;
    text-align: center;
}
.u1 img {
    margin-top: 17px;
}
.u2 {
    width: 60px;
    height: 60px;
    background-color: #E7EDFF;
    border-radius: 20px;
    text-align: center;
}
.u2 img {
    margin-top: 17px;
}
.u3 {
    width: 60px;
    height: 60px;
    background-color: #FFE0EB;
    border-radius: 20px;
    text-align: center;
}
.u3 img {
    margin-top: 17px;
}
.u4 {
    width: 60px;
    height: 60px;
    background-color: #DCFAF8;
    border-radius: 20px;
    text-align: center;
}
.u4 img {
    margin-top: 17px;
}
.u5 {
    width: 60px;
    height: 60px;
    background-color: #DCFAF8;
    border-radius: 20px;
    text-align: center;
}
.u5 img {
    margin-top: 17px;
}
